version: 2
jobs:
  test:
    docker:
      - image: circleci/ruby:2.4.3
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            bundle install
workflows:
  version: 2
  test:
    jobs:
      - test
